@charset "UTF-8";
body{
    margin: 0;
    padding: 0;
    background-image:url('../images/images_forum/forum-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    
    
    
}
#menu-left{
    margin: 0;
    padding: 0;
    float: left;
    width: 86px;
    height: 732px;
    max-height: 100%;
    background-color: #066571;
    color:#ffffff;
    font-size: 10pt;
    font-family: Futura Medium;
    text-align: center;
    font-weight: bold;
}
#menu-left ul{
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}
#menu-left ul li{
    float: inside;
    margin: 0;
    padding: 0;
}

#menu-left ul img{
    width: 41px;
    height: 43px;
    margin: 10px 20px;
    padding: 0 ;
    list-style: none;
    float: left;
    text-align: center;
}
#menu-left p{
    margin:0;
    padding: 0;
}
#form, .form-header, #form-footer{
    
    margin: 0 auto;
    float: left;
    width: 744px;
    height: 518px;
}
#form-header{
    
    height: 46.6px;
}
#topic-header{
    height: 46.6px;
}
#form-body, #form-body textarea{
    margin:0;
    padding: 0;
    width: 742px;
    height: 100px;
    background-color: transparent;
    color:#4f9ab3;
    font-size: 14pt;
    
        
}
#form-footer{
    
    height: 46.6px;
}
#topic-footer{
     width: 744px;
    margin-left: 70px;
    float: left;
    height: 24.6px;
}
.form-footer-icon {
    float: left;
    width: 20px;
    height: 20px;
    margin: 10px 10px;
    
    
}
.upload_file > input{
    display: none;
}
.upload_file img{
    cursor:pointer;
}

#upload_link{
    text-decoration:none;
}
#titulo-input{
    overflow: hidden;
    border: none;
    color:#0f7397;
    font-size: 16pt;
    margin: 0;
    float: left;
    width: 100%;
    float: left;
    background-color: transparent;
}
#descricao-input{
    overflow: hidden;
    border: none;
    font-size: 8pt;
    margin: 0;
    width: 100%;
    height: 13px;
    float: left;
    background-color: transparent;
}
#input-text-box{
    float: left;
    margin: 0;
    padding: 0;
    width: 120px;
    margin-top: 7px;
}
#topic-title{
    float: left;
    margin: 10px 0;
    padding: 0;
    width: 700px;
    margin-top: 7px;
}


.form-header-left {
    margin: 0;
    padding: 0;
    width: 50px;
    text-align: center;
    height: 46.6px;
    float: right;
    font-size: 10pt;
    color: #4f9ab3;
}
.form-header-left img{
    width: 30.5px;
    height: 28.5px;
}
.topic-header-left{
    margin: 0;
    padding: 0;
    width: 50px;
    text-align: center;
    height: 46.6px;
    float: right;
    font-size: 10pt;
    color: #4f9ab3;
    
}
.topic-header-left > div{
    display: none;
}
.topic-header-left img{
    width: 30.5px;
    height: 28.5px;
    cursor: pointer;
}
#add-resposta{
    
    margin: 10px 0;
    width: 814px;
    margin-left: 86px;
    opacity: 1;
    font-size: 14pt;
    padding: 10px 15px;
    background-color:  transparent;
    height: 85px;
}
#add-resposta form{
    width: 814px;
}
#add-resposta textarea{
    
    background-color: #ffffff;
    opacity: 0.8;
    width: 734px;
    height: 50px;
    
    margin: 0;
}
#responder-button{
    width: 35.5px;
    height: 30.5px;
    background-image: url('../forum/images/voltar-icon.png');
    background-size: cover;
    background-color: transparent;
    border:none;
    cursor: pointer;
}
#publicar-button{
    width: 23.5px;
    height: 17px;
    margin: 0;
    padding: 0;
    background-image:url('../forum/images/publicar.png'); 
    background-size: contain;
    background-color: transparent;
    border: none;
    background-repeat: no-repeat;
    cursor: pointer;
        
}
#header,#topic,#topic-table{
    border: none;
    width: 91.6%;/*938px;*/
    max-width: 100%;
    height: 70px;
    margin: 0;
    margin-left: 86px;
    padding: 10px 15px;
}
#show-topic{
    
    width: 814px;
    margin-left: 86px;
    padding: 10px 15px;
    
}
.show-resposta{
    margin: 10px 0;
    width: 814px;
    height: 120px;
    max-height: 100%;
    margin-left: 86px;
    padding: 10px 15px;
}
#header-forum{
    float: left;
    font-size:22pt;
    color: #066571;
    line-height: 80px;
    
    
}
#user-img{
    width: 70px;
    height: 46.6px;
    float: left;
    margin: 0;
    margin-left: 0;
    margin-right: 5px;
    padding: 0;
}
#topic-user-img{
    
    width: 70px;
    height: 55px;
    float: left;
    margin: 0;
    margin-left: 0;
    margin-right: 5px;
    padding: 0;
}
.resposta-user{
   
    font-size: 10pt;
    width: 70px;
    height: 65px;
    float: left;
    margin: 0;
    margin-left: 0;
    margin-right: 5px;
    padding: 0; 
}
.resposta-user img{
     width: 70px;
    height: 55px;
}
#header h1{
    margin: 0;
    padding: auto 0;
    line-height: 83px;
}
#topic{
    margin-top: 5px;
    height: 40px;
    background-color: #0f7397;
    padding: 0;
    color: #ffffff;
    
    
    
}
#topic-text{
    height: 100px;
    max-height: 100%;
    overflow-y: scroll;
    width: 744px;
    margin: 0;
    margin-left: 70px;
    background-color: #ffffff;
    opacity: 0.8;
    font-size: 14pt;
}
#topic-text p{
    word-break: break-all;
    white-space: normal;
    width: 100%;
    margin:10px 0;
    padding: 0;
    height: 100px;
    max-height: 100%;
}
.respota-text{
    margin: 0;
    width: 744px;
    margin-left: 75px;
    background-color: #ffffff;
    opacity: 0.8;
    font-size: 14pt;
}
.respota-text p{
    height: 100px;
    margin:0;
    
}
#td-ultima-postagem{
    width: 118px;
}
#logout{
    margin: 10px;
    float: right;
    font-size: 12pt;
    text-align: center;
    color: #066571;
    width: 65px;
}
#logout img{
    width: 65px;
    height: 65px;
}
#search-bar{
    float: right ;
    width: 150px;
    height: 20px;
    margin: 30px 40px;
}
.header-icon{
    float: right;
    margin: 0 10px;
    font-size: 12pt;
    text-align: center;
    color: #066571;
    width: 85px;
    
}
.header-icon img{
    
    width: 65px;
    height: 65px;
}
#title{
    font-size: 40pt;
    float: left;
    color: #066571;
    height: 40px;
    margin: 15px 10px;
    
}
.table-header,td{
    height: inherit;/*igual o do #topic */
    float: right;
    margin: 0 10px;
    max-width: 120px;
    text-align: center;
    min-width: 80px;
    padding: 0;
    padding-top: 10px;
    
}
td{
    color:#0f7397;
    font-size: 12pt;
    height: 40px;
    line-height: 40px;
    border: none;
    
}
tr{
    height: 60px;
}
#table-cell-title{
    height: 40px;
    margin: 0;
    
    font-size:16pt;
    color: #528918;
    
}
#table-header-left,#topic-cell {
    height: inherit;
    float: left;
    
}

.table-header img{
    height:20px;
    width: 25px;
    
}
thead{
  
    background-color: #066571;
}
tbody{
    text-align: center;
}
th{
    color:#ffffff;
    font-size: 14pt;
    height: 40px;
    font-weight: normal
}
table{
    width:910px;
    max-width: 100%;
    border: 1px solid #CCC;
    border-collapse: collapse;
    
}


a{
    text-decoration: none;
    color: inherit;
    
}

.footer {
        position:fixed;
        bottom:0;
        width:100%;
	background-color: #324555;
	padding: 0;
    height: 20px;
}
.footer p {
	font-size: .8em;
	color: #8eb8ce;
padding: .2em 0 .2em 15px;
    margin: 0;
}

.flex-holder {
       padding-top: 1.5em;
     /* We first create a flex layout context */
     display: flex;
     /* Then we define the flow direction and if we allow the items to
   wrap
      * Remember this is shorthand for:
      * flex-direction: row;
      * flex-wrap: wrap;
      */
     flex-flow: row wrap;
     /* Then we define how is distributed the remaining space */
     justify-content: space-around;
}
flex-holder li {
       width: 300px;
       height: 230px;
       margin: 0 0 30px 0;
       padding: 0
}
.flex-holder li a, .flex-holder li a:visited
   {
       display: block
   }
.flex-holder p {
padding: .5em 0 0 0; 
       text-align: center;
}
.flex-holder img {
margin: 0; 
   }
   .header-banner {
	
}



@media screen and (min-width:767px){


header {
	overflow: hidden;
}
 header img {
      width: 22.375%;
      float: right;
      margin: 1.5em 0 0 0;
      padding: 0 1.75em 0 0;
}
h2 {
	padding-top: 24px;
}

.header-banner {
	max-width: 60em;
}
}



