@charset "UTF-8";
body{
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	margin-bottom: 0px;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	text-align: center;
	font-style: normal;
	font-weight: 300;
        
        background-image: url('images/homepage-bg.png');
        background-repeat: no-repeat;
	background-size: cover;
}
#white-box{
        width: 350px;
    height: 534px;
    background-color: #ffffff;
    opacity: 0.6;
    float: left;
    margin: 0 auto;
    margin-left: 100px;
    padding: 0;
    text-align: center;
}
#container{
    
        overflow: hidden;
        width: 100%;
      	max-width: 100%;        
	margin:0 ;
        margin-top: 10px;
        padding: 0;
	/*background-color: #F3F3F3;*/
	
}
ul {
   list-style: none;
   width: 10%;
   float:right ;
   display: block;
   overflow: hidden;
}
ul li{
    overflow:hidden;
    padding: 0 10px;
    float:right;
}
#navbar{
        text-align: center;
        position: static;
        width: 622px;
        height:50px;
	max-width: 100%;
	margin: 0 auto;
        
	padding: 20px 0 ;
        
	overflow: hidden;
}
#navbar li{
        overflow: hidden;
	line-height: 1.8em;
	font-size: 1em;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	width: auto;
	display: inline;
	padding: 0 0.5em;
}
#navbar li:last-child {
	padding-right: .5em;
}
#navbar li a {
	font-size: 0.91em;
	/*color: #360;*/
	color: #dae2e3;
	text-decoration: none;
}
#navbar li a:hover, a:focus {
	color: #333;
	text-decoration: none;
}
#container .header-banner{
        
        
            

        text-align: center;
        width: 622px;
	margin: 0 auto;
	padding: 0;
	overflow: hidden;
}
img {

margin: 20px auto 0 auto; /*centers img*/ padding: 0;

display: block; /*img behaves like block*/
	
}
p{
        color:blue;
	font-size: 1em;
	line-height: 1.7em;
	padding-top: 0px;
	padding-right: 30px;
	padding-bottom: 0px;
	padding-left: 30px;
	bottom: auto;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}

.main-nav {
	overflow: hidden;
	width: auto;
}

#pageNavigation {
	/*background: #CCC;*/
        
	width: 85%;        
	float: right;
	margin: 0 auto;
	padding: 0;
        text-align: center;
	list-style: none;
        background-color:green;
        
}
#login{
    background-image: url('images/icon-acessar.png');
    display: block;
    width: 981px;
  height: 180px;
  background-repeat: no-repeat;
}
#home-bg{
  position: fixed; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%;
}
#home-bg img{
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}
#logo{
    max-width: 60em;
    border: none;
    float: none;
    margin: 0 auto;
    width:622px;
    height: 180px;
    
}
#welcome{
    text-align: center;
    border: none;
    margin:0 auto;
    float: none;
    width:622px;
    height: 236px;
    background-color: #ffffff;
    opacity: 0.6;
    color:#2f524c;
    font-family: sailors slant;
    font-size:20pt;
    
    
}
.icon{
    border:none;
    /*position: absolute;
    bottom:20%;
    left:67%;*/
    display: inline-block;
    width: 112px;
    height: 101px;
    padding: 0;
    margin: 0;
    float:right;
    opacity: 1;
}
#icon-block{
    width: 100%;
    height: 101px;
    float: none;
    opacity: 1;
}
#pageNavigation li {
	line-height: 2em;
	font-size: 1em;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	width: auto;
	display: inline;
	padding: 0 1.5em;
}
#pageNavigation li:last-child {
	padding-right: .5em;
}
#pageNavigation li a {
	font-size: 5pt;
	/*color: #360;*/
	color: #dae2e3;
	text-decoration: none;
}
#pageNavigation li a:hover, a:focus {
	color: #333;
	text-decoration: none;
}
a {
	text-decoration: none;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	/*color: #360;*/
	color:#dae2e3;
}
a:hover {
	color: #333;
	text-decoration: underline;
}

.footer {
        position:absolute;
        bottom:0;
        width:100%;
	background-color: #324555;
	padding: 0;
}
.footer p {
	font-size: .8em;
	color: #8eb8ce;
	padding: .2em 0 .2em 15px;
}
header img {
	border: 0;
	margin-top: 0px;
}
.flex-holder {
       padding-top: 1.5em;
     /* We first create a flex layout context */
     display: flex;
     /* Then we define the flow direction and if we allow the items to
   wrap
      * Remember this is shorthand for:
      * flex-direction: row;
      * flex-wrap: wrap;
      */
     flex-flow: row wrap;
     /* Then we define how is distributed the remaining space */
     justify-content: space-around;
}
flex-holder li {
       width: 300px;
       height: 230px;
       margin: 0 0 30px 0;
       padding: 0
}
.flex-holder li a, .flex-holder li a:visited
   {
       display: block
   }
.flex-holder p {
padding: .5em 0 0 0; 
       text-align: center;
}
.flex-holder img {
margin: 0; 
   }
   .header-banner {
	
}
#login-ref {
   /* position: absolute;
    left: 69%;
    bottom: 15%;*/
    float: right;
    opacity:1;
    font-weight: bold;
    font-size: 20pt;
    color:#2f524c;

}
#logo-white-box {
width: 60%;


}
#white-box-quem-somos{
    width: 350px;
    height: 1200px;
    background-color: #ffffff;
    opacity: 0.6;
    display: block;
    margin: 10px auto;
   
    padding: 0;
    text-align: center;
    
}
#white-box-quem-somos p{
    
}

@media screen and (min-width:767px){
h1 {
	width: 66%;
	float: left;
	margin-top: .5em;
    padding-bottom: 9em; 
}

header {
	overflow: hidden;
}
 header img {
      width: 22.375%;
      float: right;
      margin: 1.5em 0 0 0;
      padding: 0 1.75em 0 0;
}
h2 {
	padding-top: 24px;
}

.header-banner {
	max-width: 60em;
}
}



